@media (max-width: 1700px) {
	
    #topbar .col-lg-8 {
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
    }
    #topbar .col-lg-4 {
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
}

@media (max-width: 1600px) {
	
#topbar .col-lg-8 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
}
#topbar .col-lg-4 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}
	
#hero {   
    background-size: cover;
	height: 495px;
}
.topLeft{
    padding-left: 20px;
}	
.rightMenu{
    margin-right: 0;
}
#header .container-fluid, #footer .container-fluid{
    padding-left: 20px;
padding-right: 20px;
}

.inner-page .container-fluid {
    padding: 0 20px;
}

	
}

@media (max-width: 1500px) {
	.car-item {        
        background: #fff;
    }
    .suggested-cars .col-md-3, .inventory-cars .col-md-3, .recently-cars .col-md-3, .favorite-cars .col-md-3 {
        flex: 25% 1 !important;
        max-width: 25% !important;
    }
        
}

@media (max-width: 1400px) {

#hero {
    height: 485px;
}

	
	
}

@media (max-width: 1335px) {
#topbar .col-lg-8 {
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
}
#topbar .col-lg-4 {
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
}
#hero .container {
    padding-top: 10px;
}
#hero {  
    height: 450px;
}
	
	
	
	
}
@media (max-width: 1300px) {
	
	
}

@media (max-width: 1200px) {
#topbar .col-lg-8 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
#topbar .col-lg-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
#hero {
    height: 435px;
}
.section-title h2 {
    font-size: 30px;
	margin-bottom:5px;	
}
.about p {   
    font-size: 14px;  
}
.loginblockpage .col-lg-4{
	-ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.registerpageBlock .col-lg-4{
	-ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.suggested-cars .col-md-3, .inventory-cars .col-md-3, .recently-cars .col-md-3, .favorite-cars .col-md-3 {
    flex: 33.33% 1 !important;
    max-width: 33.33% !important;
}
.adduserpageforminner .form-group label {    
    font-size: 14px!important;
}

	
}


@media (max-width: 1100px) {
#topbar .col-lg-8 {
     -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
}
#topbar .col-lg-4 {
   -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
}
#hero h1 {  
    font-size: 35px;
}
#hero h2 {    
    font-size: 22px;   
}
#hero {
    height: 395px;
}
.fees .section-title p {  
    font-size: 14px;    
}
.feestable h2 {  
    font-size: 22px;   
}
.contact .info .contacttag {   
    font-size: 14px;   
}
.suggested-cars .col-md-3, .inventory-cars .col-md-3, .recently-cars .col-md-3, .favorite-cars .col-md-3 {
    flex: 50% 1 !important;
    max-width: 50% !important;
}
.topLeft{
    padding-left: 40px;
}
.rightMenu{
    margin-right: 20px;
}
#header .container-fluid, #footer .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
}
#hero h1{
    font-size: 40px;
}
#hero h2 {
   font-size: 20px;
}
.container {
    padding-left: 40px;
    padding-right: 40px;
}
.about .aboutblock{
    padding:  20px;
}

.adduserpageforminner .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
}
	
}

@media (max-width: 991px) {

.mobile-nav-toggle i {
    color: #333;
}
.mobile-nav-toggle {  
    top: 73px;
    right: 175px;
}
#hero h1 {
    font-size: 30px;
}
#hero h2 {
    font-size: 20px;
}
#hero .btn-get-started {  
    font-size: 17px;  
}  
.section-title h2 {
    font-size: 28px;
    margin-bottom: 5px;
}
.contact .info p {  
    font-size: 16px;   
}

.loginblockpage .col-lg-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 70%;
}
.registerpageBlock .col-lg-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 70%;
}
.suggested-cars .col-md-3, .inventory-cars .col-md-3, .recently-cars .col-md-3, .favorite-cars .col-md-3 {
    flex: 50% 1;
    max-width: 50%;
}
	
	
	
}


@media (max-width: 767px) {
	
	
	
	
	
}

@media (max-width: 640px) {
	
	.adduserpageforminner .form-group {
        padding: 3px!important;
    }   
	
	
	
}

@media (max-width: 575px) {
	
	.suggested-cars .col-md-3, .inventory-cars .col-md-3, .recently-cars .col-md-3, .favorite-cars .col-md-3 {
        flex: 100% 1;
        max-width: 100%;
    }
	
	
	
}

@media (max-width: 500px) {
	
	
	
	
	
}
@media (max-width: 480px) {
	
	
	
	
	
}
@media (max-width: 375px) {
	
	
	
	
	
}
@media (max-width: 320px) {
	
	
	
	
	
}