.user_name{
    color: red;
}


/* This is the extracted copied part responsible for showing & hiding the submenu. */
.nav__submenu {
    display: none;
}
.nav__menu-item:hover .nav__submenu {
    display: block;
}

.menu-container {
    text-align: center;
}
nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.nav__menu {
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav__menu-item {
    display: inline-block;
    position: relative;
}

.nav__menu-item:hover .nav__submenu {
    display: block;
}
.nav__submenu {
    font-weight: 300;
    text-transform: none;
    display: none;
    position: absolute;
    width: 200px;
    background-color: #fff;
    z-index: 1 !important;
}
.nav__submenu-item:hover {
    background: rgba(0, 0, 0, 0.1);
}
